@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";


h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

.ant-message-notice {
  z-index: 101;
}

a[disabled] {
  cursor: pointer !important;
}
